body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.display-none {
    display: none; 
}

.mileage-rate p {
    margin: 0;
}

.mileage {
    color: darkslategray;
    font-weight: 900;
}
.expense {
    color: red; 
    font-weight: 900;
}
.income {
    color: green;
    font-weight: 900;
}
.total-income {
    text-align: right; 
    margin-top: 30px; 
    font-weight: 700;
}
.spacing {
    padding-bottom: 40px;
}